doctype html 
html 
    head 
        title= `${title}`
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Update 
        a(href="/") Return to the homepage
        form(method="POST" action="/update-cobj")
            label(for="concert_name") Concert Name:
            input(type="text" id="concert_name" name="concert_name" required)
            label(for="venue") Venue:
            input(type="text" id="venue" name="venue" required)
            label(for="date") Date:
            input(type="date" id="date" name="date" required)
            button(type="submit") Save